body {
      font-family: 'Segoe UI';
  }

  .tip {
      position: relative;
      display: inline;
  }

  .tip .tiptext {
      visibility: hidden;
      width: 300px;
      background-color: #555;
      color: #cff28c;
      text-align: left;
      font-size: 15px;
      border-radius: 6px;
      padding: 15px 8px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -32px;
      opacity: 0;
      transition: opacity 0s;
      font-weight: bold;
  }

  .tip-unofficial .tiptext-unofficial {
      background-color: #744;
      color: #f2cf8c;
  }

  .tip .tiptext::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }

  .tip:hover .tiptext {
      visibility: visible;
      opacity: 1;
  }
